!!!
%html

  %head
    = partial "layouts/head"
    = stylesheet_link_tag "application"

  %body{class: "#{page_classes}"}
    .layout--container
      = partial "layouts/header"
      .layout--content
        = yield
      .layout--spacer
    = partial "layouts/footer"

    = javascript_include_tag "application"
