!!!
%html

  %head
    = partial "layouts/head"
    = stylesheet_link_tag "application"

  %body{class: "#{page_classes}"}
    = partial "layouts/header"
    = yield
    = partial "layouts/footer"
    = javascript_include_tag "application"

