.lead
  Like to work with people with a good sense of design
  %br
  We’ll ask the right questions to help you achieve your goals
  %br
  Web sites and applications
  %br
  Strive to keep things simple
  %br
  Creative + Technology

.projects
  = partial "projects/vivo"
  = partial "projects/nada"
  = partial "projects/byliner"
  = partial "projects/canopy"
  = partial "projects/mirrorcube"
  = partial "projects/stylitics"
  = partial "projects/bonfire"
  = partial "projects/vested"


